background-color:blue;

formelt

color:orange;

text-align: center;

margin-top: 7px;

margin-bottom: 6px;

ha } </div>

color:rgb(255, 0, 179);

text-align: center;

padding-top: 20px;

</style>

</head>

<body>

<div class="edge">

<div class="box">

ch1>Area of a Rectangle</h1>

<form method="POST">

( csrf token %)

<div class="formelt">

Length: <input type="text" name="length" value="{{1}}"></input>(in m)<br/>

</div>

<div class="formelt">

Breadth: cinput type="text" name "breadth" value-"((b))"></input>(in m)<br/> </div>

<div class="formelt">

<input type="submit" value="calculate"></input><br/>

<div class="formelt">

Area: cinput type="text" name="area" value="{{area}}"></input>m<sup>2</sup><br/>

</div>

</form>

</div>

</div>

</body>

</html>